web/frontend/node_modules
web/frontend/elm-stuff
web/frontend/src
web/frontend/package.json
web/frontend/package-lock.json
web/frontend/elm.json
web/frontend/vite.config.js
web/frontend/index.html
__pycache__
*.pyc
.git
sources
PartC
PartD
Plantilles
jocs_de_prova
*.pdf
*.zip
